/*** UTILITY ***/

.btn-purple{
    display:block;
}
.btn{
    display:block;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --blue: #0084FD;
    --purple: #9792E4;
    --lightblue: #B5DDFF;
    --orange: #FDC15F;
    --darkgray: #333333;
    --black: #000;
    --white: #FFF;
}

body {
    font-family: 'PT Sans', sans-serif;
}

/**** CLASS FLEX***/
.d-flex {
    display: flex;
}

.j-between {
    justify-content: space-between;
}

.aling-center {
    align-items: center;
}

/** Container class ***/
.container {
    max-width: 600px;
    margin: 0 auto;
    padding-left: 7%;
    padding-right: 7%;
}

/**** HEADER ***/
header {
    background-color: var(--blue);
    color: var(--white);
}

header .hamburger {
    color: white;

}

.main-menu {
    display: none;
}

header .container {
    padding: 0.5rem 0;
}

/***MAIN **/


#planning,
#features,
#get-started {
    Background-color: var(--purple);
}


/* 1 section*/
#intro {
    padding: 0.2em
}

#intro .card {

    margin-left: 0.75rem;
    margin-right: 0.75rem;
    width: (33.33% - 1.5rem);
    background-color: var(--lightblue);
    margin: 1.25rem;
    border-radius: 1.5rem;
    padding: 2rem 2em 0 2em;
    

}

#intro .cards {
    display: flex;
    flex-flow: row wrap;
    margin-left: -0.75rem;
    margin-right: -0.75rem;
}

.cards h3 {
    color: var(--blue);
    margin: auto;
    font-size: 2.5rem;
    text-align: center;
}

.card div i {
    color: var(--blue);
    margin: 1rem auto;
    font-size: 7rem;
}

#apple {
    color: var(--black);
    font-size: 1em;
}

.card img {
    width: 100%;
    margin: 0 auto;
    display: block;

}
#prova{
    padding-bottom: 0;
}

.card p {
    text-align: center;
    line-height: 2em;
    font-size: 1.5em;
    margin: 1.5rem 0;
    padding: 0 1rem;
}

.card h3:first-child {
    text-align: left;
}

.card:first-child p {
    text-align: left;
    padding: 0;
}

.card:first-child {
    padding-bottom: 0;

}

.img-div {
  margin-bottom:0;

}

.btn {
    background-color: var(--blue);
    text-align: center;
    width: 75%;
    border-radius: 15rem;
    font-size: 1.2em;
    margin-bottom: 2em;


}

.btn a {
    color: var(--white);
    text-decoration: none;
    font-weight: bold;
}

.btn i {
    color: var(--white);
    margin-right: 10px;
    filter: invert(1);
    position: relative;
    right: 10px;
}

/* END 1 SECTION*/
/* 2section*/
#planning img {
    width: 100%;
    margin: 5em auto;
    color: var(--white);
}

#planning h2 {
    color: var(--white);
    margin-bottom: 2em;
    font-size: 4em;
}

.container .textwhite {
    color: var(--white);
}

.planning2 {
    width: 100%;
    background-color: var(--white);
    text-align: center;
    margin: 5em auto;
    padding: 30px;
    border-radius: 3rem;
    color: var(--black);


}

.planning2 img {
    width: 100%;

}

.planning2 p {
    color: #000;
}

.p-planning2 {
    color: var(--black);
}

.planning2 h3 {
    font-size: 3rem;
    margin-bottom: 1.5em;
}

#planning {
    padding-bottom: 5em;
}

.freccia {
    background-color: var(--purple);
    text-align: center;
    height: 60px;
    width: 60px;
    margin-bottom: 1.2em;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1.5em auto 1.5em auto;
}


.freccia a {
    font-size: 1.5em;
    color: (--black);
}

/* end section 2 */
/* Section 3 : #testimonials */

#testimonials .container .testi-intro,
.persona {
    text-align: center;
}

#testimonials {
    padding: 2em;
}



#testimonials h2 {
    color: var(--purple);
    font-size: 4em;
    margin-top: 0.4em;
    margin-bottom: 0.75em;
}

#testimonials p {
    line-height: 2em;
    margin-bottom: 2em;
}

#testimonials .persona {
    background-color: var(--purple);
    color: var(--white);
    padding: 3em 1.5em;
    border-radius: 1.5em;
    margin-bottom: 4em;

}

.testi-intro {
    font-size: 1.8rem;
    margin-top: 1.5em;
}

#testimonials .persona .img-persona {

    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    background-size: cover;
    background-position: center;

}

#img-persona1 {
    background-image: url(../img/testimonial1.jpg);
}

#img-persona2 {
    background-image: url(../img/testimonial2.jpg);
}

#img-persona3 {
    background-image: url(../img/testimonial3.jpg);
}

#testimonials .persona .img-persona {

    margin: auto;
}

.testi-instro p {
    margin: 1.5em 1.5em;

}

.persona p {
    margin: 1.5em 0;
}

/*** 4section***/

#features .container{
    padding: 2em 0;
}
#features .container h2{
    color:var(--white);
    font-size:4em;
    text-align: center;
    margin-bottom: 1.5em;
    margin-top:1.5em;
}
#features .number{
    background-color: var(--white);
    color: var(--purple);
    padding: 1.5em 1.5em;
    border-radius: 1.5em;
    margin-bottom: 4em;
}
#features .number h2{
    font-size: 2.5em;
    margin-bottom:0.5em;
    color:var(--purple);
    text-align: left;
    margin-top:0.5em;
}
#features .number h3{
    font-size: 1.5em;
    margin-bottom:0.5em;
}
#features .number p {
    color:var(--black);
    margin-bottom:0.5em;
}
#features .number .btn-purple{
    background-color: var(--purple);
    text-align: center;
    width: 33%;
    border-radius: 15rem;
    font-size: 1.2em;
    padding:0.3em;
    margin-top:0.5em;
}
#features .number a {
    text-decoration: none;
    color:var(--white);
}
/* section 5 */
#about-us .container{
    padding:3em;
    
}
#about-us h2{
    color:var(--purple);
    font-size: 2em;
    margin-bottom:2em;

}
#about-us .container p{
    margin-bottom:1em;
    line-height: 1.8em;

}
#about-us .container .manager .manager-pic{
    background-image: url(../img/about.jpg);
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    position: relative;
    margin-bottom:1.5em;
}
#about-us .container .manager .manager-pic span{
    color:var(--purple);
    position:absolute;
    font-size:3em;
    right:0;
    top:-0.2em;
}
#about-us .container .manager h3{
    color:var(--purple);
    font-size:2.7em;
    margin-bottom: 0.5em;;
}

#about-us .container .manager .btn-purple{
    background-color: var(--purple);
    text-align: center;
    width: 50%;
    border-radius: 15rem;
    font-size: 1.2em;
    padding:0.5em;
    margin-top:0.5em;
    margin-bottom:0.5em;
}
#about-us .container .manager .btn-purple a {
    color:white;
    text-decoration: none;
}
/*Section 6 */
#get-started .container{
    text-align: center;
    color:var(--white);
    padding: 2em 0;

}
#get-started .container h3{
    font-size: 2em;
    margin: 1em 0;
}
#get-started .container h1{
    color:var(--orange);
    font-size: 5em;
    margin:0.8em 0;
}
.btn-white{
    background-color: var(--white);
    color:var(--purple);
    text-align: center;
    width: 50%;
    border-radius: 15rem;
    font-size: 1.2em;
    padding:0.5em;
    margin: 0.9em auto;
}
#get-started .container .btn-white a {
    color:var(--purple);
    text-decoration: none;
}
#get-started a{
    color:var(--white);
}
/* footer */
footer {
    text-align: center;
    background-color: var(--darkgray);
    padding:1em 0;

}
footer p {
    color:var(--white);
    margin:1em 0;
}
footer p a {
    color:var(--purple);
}
/*responsive */

@media screen and (min-width:768px){
   p{
    line-height: 1.2em;;
   }
    /*1 section*/
     .container{
        max-width: 750px;
        padding:0;

     }
     #intro .cards{
        display:flex;
        flex-flow: row wrap;
        margin-left: -0.75rem;
        margin-right: -0.75rem;
        padding-right: 0;
     }
     #intro .card{
        margin-left: 0.75rem;
        margin-right: 0.75rem;
        width: calc(33.33% - 1.5rem);
        padding: 32px 25px 0 25px;
     }
     #intro .card:first-child{
        width:calc(66.66% - 1.5rem);
     }
    }
    #intro .card h3{
        font-size: 30px ;
    }
    #intro .card p {
        line-height: 1.2em;
    }
    /* 2 section*/

    /* section3*/
    #testimonials .testi-intro h5{
        font-size: 0.3;
    }
    #testimonials .testi-intro h2{
        font-size:1.7em;
    }
    #testimonials .testi-intro p{
        font-size:1em;
    }
    #testimonials .persona{
        display:flex;
        
    }
    #testimonials .persona .img-persona{
        width:55%;
        margin-right: 3em;
    }
    #testimonials  .img-persona-testo {
        text-align: initial; 
    }